<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingzhimobile.nutritionfoodguide"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <!--
    -->

    <application
        android:name="Application1"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 
        <activity
            android:name="com.lingzhimobile.nutritionfoodguide.MainActivity"
             android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        
        <activity
             android:name="com.lingzhimobile.nutritionfoodguide.ActivityHome"
             android:theme="@android:style/Theme.NoTitleBar"
            >
        </activity>
        <activity android:name=".MainActivity"
		    android:theme="@android:style/Theme.NoTitleBar"
		    >
		</activity>
        <activity android:name=".v3.activity.V3ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".v3.activity.V3ActivityReport"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".v3.activity.V3ActivityIllness"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".v3.activity.V3ActivityFoodsByType"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".v3.activity.V3ActivityFoodsByNutrient"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity android:name=".V2ActivityHome"
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".V2ActivityDiagnose" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
        
        
        <activity android:name=".Activity_GroupList"  
            android:theme="@android:style/Theme.NoTitleBar" 
            >
            <!-- android:theme="@android:style/Theme.NoTitleBar" 的作用是去除界面的顶部的标题栏等 http://quanminchaoren.iteye.com/blog/1066178 -->
		</activity>
		<activity android:name=".Activity_DiseaseList" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		<activity android:name=".ActivityDiseaseNutrientWizard" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityDiscomfort" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityFoodCombination" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityRichFood" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		<activity android:name=".ActivityAllFoodExpandList" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivitySearchFoodCustom" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    android:windowSoftInputMode="adjustUnspecified|stateHidden" 
		    >
		</activity>
		<activity android:name=".ActivitySearchFoodWithClass" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityFoodByClass" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		
		<activity android:name=".ActivityUserProfile" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
			<!-- 用 android:windowSoftInputMode="adjustUnspecified|stateHidden"  可以使进入activity后不自动弹出键盘，但焦点还在编辑框 -->
		</activity>
		<activity android:name=".ActivitySetting" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		<activity android:name=".ActivityFoodCombinationList" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		<activity android:name=".ActivityNutrients" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		
		<activity android:name=".ActivityAddFoodChooseList" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityDiagnose" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityDiagnoseResult" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		<activity android:name=".ActivityDiagnoseAlertSetting" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>

		
		<activity android:name=".ActivityT1" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		

		
		<activity android:name=".ActivityTestCases" 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    >
		</activity>
		

	
		<receiver android:name=".BroadcastReceiverAlert">    
		    <intent-filter>
		        <action android:name= "com.lingzhimobile.nutritionfoodguide.BroadcastReceiverAlert" />
		    </intent-filter>
		</receiver> 
        <receiver android:name=".BroadcastReceiverBootComplete" >
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>

		<service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
		<meta-data android:value="52609e3a56240b493f099dfd" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="@string/umengChannelDev" android:name="UMENG_CHANNEL"/>
		<!-- 
		<meta-data android:value="@string/umengChannelGoogle" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelAppchina" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelBaidu" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannel360" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelWandoujia" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannel91" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelGfan" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelCoolchuan" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelWebPortal" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="@string/umengChannelDev" android:name="UMENG_CHANNEL"/>
		 -->
    </application>

</manifest>
